body {
  background-color: #F2F2F2;
}

.table_title_div {
  display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
}

.table_title_div h3 {
   color: #000000;
   font-size: 30px;
   font-weight: 500;
}


.table_div {
  background: white;
  border-radius:5px;
  border-collapse: collapse;
  margin: auto;
  max-width: 700px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
 
th {
  color:#FFFFFF;;
  background:#000000;
  border-bottom:4px solid #9ea7af;
  font-size:25px;
  font-weight: 200;
  padding:20px;
  text-align:left;
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}

.th_title{
	width: 60%;
}

.th_reader{
	width: 20%;
}

.th_amount{
	width: 15%;
}

.th_pass{
	width: 5%;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
  cursor: pointer;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

<!-- 팝업-->

button {
  height: 2.5em;
  cursor: pointer;
}

#popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 1;
}

#popup.hide {
  display: none;
}

#popup.has-filter {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#popup .content {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}


.pop_userName_div{
	margin : 10px;
}

.pop_name_span{
	margin : 10px;
	font-size : 25px;
}

.input_name{
	font-size : 25px;
	background-color: #F2F2F2;
	border: none;
	text-align: center;
}

.read_input_name{
	background-color: white;
	font-size : 25px;
    border: none;	
    text-align: center;
}

.pop_btn{
	font-size : 25px;
	margin : 20px;
	border : none;
}

.pop_btn:hover{
	cursor : pointer;
	background-color: black;
	color : white;
}


.page_div ul{
	text-align:center;
	list-style : none;
}
.page_div ul li{
	display : inline-block;
	margin : 10px;
}

.page_div ul li:hover{
	font-weight:bold;
	cursor : pointer;
}

.disable_evt{
	pointer-events : none;
	opacity: 0.65;
}
.disable_cursor{
	cursor : default;
}