@charset "UTF-8";
body{
	width: 100%;
	height: 100%;
	background-color: #F2F2F2;
}
.container{
	width: 100%;
	height: 100%;
	
}

.create_container{
	min-width : 600px;
	max-width : 600px;
	margin : auto;
}

.top_div{
	min-height : 75px;
	background-color: white;
}


.top_border:hover{
	cursor : pointer;
	background-color : #05DCFF;
	
}

.bottom_div{
	display: flex;
    flex-direction: column;
}


.mode_div{
	margin : auto;
	display: flex;
	justify-content: center;
}


#title_div{
	margin : 30px;
	padding: 100px;	
	font-size: 50px;
	background-color: #FFFFFF;
	border-radius : 25px;
	color : #000000;
}

.create_div{
	padding : 10px;
	font-size : 25px;
}

.create_btn_div{
	padding : 10px;
	font-size : 25px;
	text-align: center;
}

.create_input{
	border : solid black 1px;
	font-size : 30px;
	border-radius: 25px;
	text-align: center;
}

.read_input{
	background-color: #F2F2F2;
	font-size : 30px;
    border: none;	
    text-align: center;
}



.create_span {
	margin : 10px;
}

.multi_div{
	display: block;
}

#create_btn{
	padding : 10px;
	border : 1px solid black;
	border-radius: 10px;
}

#create_btn:hover{
	cursor : pointer;
}


.user_pop{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	z-index: 1;

}

.hide{
	display: none;
}

.has-filter {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}


.user_pop .user_content {
  	padding: 20px;
  	background: #fff;
  	border-radius: 5px;
  	box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
	min-width: 250px;
	min-height: 200px;
	border : 1px solid black;
}

.user_span{
	display:block;
	margin: 20px;
	text-align: center;
}



.disable_evt{
	pointer-events : none;
	opacity: 0.65;
}
.disable_cursor{
	cursor : default;
}