@charset "UTF-8";

body{
	width: 100%;
	height: 100%;
	background-color: #F2F2F2;
}

.startGame_div{
	width: 100px;
    height: 40px;
    text-align: center;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border : 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFFFFF;
}

.startGame_div:hover{
	cursor : pointer;
}

.skipSong_div{
	width: 100px;
    height: 40px;
    text-align: center;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border : 1px solid black;
    border-radius : 10px;
    padding: 10px;
    background-color : #FFFFFF;
}
.skipSong_div:hover{
	cursor : pointer;
}

#skip_div{
	display: none;
}

#result_div{
	display: none;
}

#skipCount_div{
	display: none;
}

.gameBoard_chat{
    width: 600px;
    height: 350px;
    margin: 10px 10px;
}

.chatOutput_div{
	width: 100%;
   	height: 300px;
   	overflow: auto;
   	background-color: #EEE6C4;
}

.chatInput_div{
    width: 100%;
   	height: 40px;
   	text-align: right;
   	margin-top: 5px;	
}

.chat_submit{
	float: right;
	margin : 5px;
	padding: 12px;
	width : 15%;
	border: 1px solid black;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 5px;
}

.chat_submit:hover{
	cursor : pointer;
}

.chatInput_input{
	float: left;
	margin : 5px;
	width: 75%;
	height: 100%;
	text-align: right;
	border-radius: 5px;
	font-size: 20px;
}

.chatInput_input:hover{
	cursor : pointer;
}

.gameBoard_userInfo{
   	margin: 50px 10px 10px 10px;
   	display: flex;
   	height : 160px; 
}

.userName{
	width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userPoint{
    width: 100px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#youtubePlayer{
	display: none;
}

.answerColor{
	color: purple;
}

.userInfo_div{
	margin: 10px;
	border-radius: 10px;
	border: 3px solid black;
	background-color: #FFFFFF;
}

.userName{
	font-weight: 700;
}

.my_chat{
	text-align: right;
}

.chatData{
	margin: 10px;
}

.red{
	color : red;
}

.blue{
	color : blue;
}

.green{
	color : green;
}

.gray{
	color : gray;
}

.black{
	color : black;
}

.brown{
	color : brown;
}

.purple{
	color : purple;
}

.yellow{
	color : yellow;
}

.disable_evt{
	pointer-events : none;
	background-color: gray;
	opacity: 0.65;
}
.disable_cursor{
	cursor : default;
}

.able_evt{
	pointer-events : auto;
	background-color : #FFFFFF;
}

.ready_div{
	text-align: center;
	background-color : yellow;
}

.reader_mark{
	text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.loading_div{
	padding : 15px;
	text-align : center;
	font-size: 30px;
	font-weight: bold;
}

.alertMsg{
	text-align: center;
    background: oldlace;
}

.answerMsg{
	text-align: center;
    font-size: 25px;
    background-color: ivory;
}

.score_span{
	font-size : 20px;
}

.songListNum_div{
	margin: 20px;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    background: #FFFFFF;
    border-radius: 25px;
}



.result_table_div{
	display: flex;
	justify-content: center;
	align-items : center;
	margin :10px;
	flex-direction: column;
}


.result_table{
	min-width: 600px;
	border-collapse: collapse;
	text-align: center;
	background-color : #FFFFFF;
	border-radius: 15px;
}

.result_table_tr:nth-child(odd) td{
	background-color : #A2A2A2;
}

.result_table_tr:nth-child(even) td{
	background-color : #FFFFFF;
}

.result_table_th{
	padding: 10px;
	font-size: 20px;
}

.result_table_td{
	font-size : 20px;
	padding : 6px;
}

.num_td{
	min-width : 100px;
}

.name_td{
	min-width : 400px;
}

.score_td{
	min-width : 100px;
}

.result_home{
	margin : 30px;
	padding : 10px;
	background-color : #FFFFFF;
	border-radius: 20px;
	font-weight: bold;
	font-size: 30px;
	box-shadow: 5px 5px 5px 5px gray;
}

.result_home:hover{
	background-color : #000000;
	color : #FFFFFF;
	cursor: pointer;
}